<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  {{!-- --}}
  {{!--
  <script src="https://cdn.tailwindcss.com"></script> --}}

  <title>Restaurant Bookings</title>
</head>

<section class="section">
  <div class="container">

    <img src="./images/restaurant.png" width="60">
    <h1 class="title is-1"> Delicious Delights - Restaurant Bookings </h1>

    {{{body}}}
  </div>
</section>

<section class="section">
  <div class="container">
    <ul>
      <li>
        <a href="https://www.flaticon.com/free-icons/restaurant" title="restaurant icons">Restaurant icons created by Eucalyp - Flaticon</a>
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/dinner-table" title="dinner table icons">Dinner table icons created by amonrat rungreangfangsai - Flaticon</a>
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/reserved" title="reserved icons">Reserved icons created by Freepik - Flaticon</a>
      </li>
    </ul>
  </div>
</section>




</html>