<h1>Bookings</h1>

<label for="">Bookings for</label> <input type="text" placeholder="enter username" > <input type="submit">


<table>
    <tr>
        <th>Table name</th>
        <th>Table capacity</th>
        <th>Qty booked</th>
        <th>Booked by</th>
        <th>Contact number</th>
    </tr>
    <tr>
        <td>Table 1</td>
        <td>4</td>
        <td>2</td>
        <td>Indiana Jones</td>
        <td>082 900 1276</td>
    </tr>
    <tr>
        <td>Table 1</td>
        <td>4</td>
        <td>2</td>
        <td>Lara Croft</td>
        <td>082 786 3432</td>
    </tr>
    <tr>
        <td>Table 1</td>
        <td>4</td>
        <td>2</td>
        <td>Indiana Jones</td>
        <td>082 900 1276</td>
    </tr>
</table>
